@model CommunityNetPortoAngular.Models.ResumeUser
@{

    Layout = null;
}


    <div class="well">
        <h2 class="text-center">Editar Habilitação</h2>
        <div class="example">
            <table id="editing-example-education" class="table" data-paging="true" data-filtering="false" data-sorting="true">
                <thead>
                    <tr>
                        <th data-name="ID" data-breakpoints="xs" data-type="number">ID</th>
                        <th data-name="Title">Titulo da Habilitação</th>
                        <th data-name="Description">Descrição da Habilitação</th>
                        <th data-name="StartedOn" data-breakpoints="xs sm" data-type="date" data-format-string="YYYY-MM-DD">Data de inicio</th>
                        <th data-name="Dob" data-breakpoints="xs sm md" data-type="date" data-format-string="YYYY-MM-DD">Data de Fim</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="modal fade" id="editor-modal-education" tabindex="-1" role="dialog" aria-labelledby="editor-title-education">

                <div class="modal-dialog" role="document">
                    <form class="modal-content form-horizontal" id="editor-education">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="editor-title-education">Nova Habilitação</h4>
                        </div>
                        <div class="modal-body">
                            <input type="number" id="ID" name="ID" class="hidden" />
                            <div class="form-group required">
                                <label for="Title" class="col-sm-3 control-label">Titulo da Habilitação</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Title" name="Title" placeholder="Titulo da Habilitação" required>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="Description" class="col-sm-3 control-label">Descrição da Habilitação</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Description" name="Description" placeholder="Descrição da Habilitação" required>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="StartedOn" class="col-sm-3 control-label">Data de inicio</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="StartedOn" name="StartedOn" placeholder="Data de inicio" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Dob" class="col-sm-3 control-label">Data de fim</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="Dob" name="Dob" placeholder="Date of Birth">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar alterações</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>

