@{
    ViewBag.Title = "Página inicial";
}

<div class="jumbotron">
    <h1>Chamada a colaborar em novos artigos</h1>
    <p class="lead">Ajuda nos a crescer colabora connosco com a elaboração de teus artigos.</p>
    <p>@Html.ActionLink("Criar artigo »", "Index", "ArticleUsers", null, new { @class = "btn btn-primary btn-lg" })</p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Como começar com Asp.Net</h2>
        <p>
            O ASP.NET MVC fornece uma maneira poderosa de criar sites web.
            Permite uma separação clara de conceitos MVC.
            Com uma linguagem poderosa C# e Razor.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Saber mais sobre NuGet</h2>
        <p>NuGet é uma extensão gratuita do Visual Studio que facilita a inclusão, remoção e atualização de bibliotecas e ferramentas em projetos do Visual Studio.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting Azure</h2>
        <p>Tu podes facilmente encontrar uma empresa de hospedagem que oferece a combinação certa de recursos e preço para suas aplicaçõess.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saber mais &raquo;</a></p>
    </div>

</div>

