@model  CommunityNetPortoAngular.Models.NumberArticlesViewModel
@{
    Layout = null;
}
<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
    <div class="counter-item">
        <div class="icon">
            <i class="mdi-action-get-app"></i>
        </div>
        <h3 class="timer">@Model.Value</h3>
        <hr>
        <h5>
            Artigos
        </h5>
    </div>
</div>
